<html lang="en">
  <head>
    <title>Health Check</title>
    <style>
      body {
        background-color: green !important;
        margin: 0;
      }

      div {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: sans-serif;
        font-size: 10vw;
        font-weight: bold;
        letter-spacing: 0.05em;
      }
    </style>
  </head>
  <body>
    <div>YES I AM</div>
  </body>
</html>
